* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #F6F7FB;
    color: #111;
}

/* ---fejléc--- */
header {
    padding: 1rem;
    background: white;
    border-bottom: 1px solid #E6E6EF;
}

header h1 {
    font-size: 1.25rem;
}

/* ---layout--- */
main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
}

/* ---grid--- */
.grid {
    display: grid;
    gap: 0.75rem;
    /* 1 oszlopos mobil nézet */
    grid-template-columns: 1fr;
}

/* 2 oszolopos tablet nézet */
@media (min-width: 700px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 3 oszlopos asztali nézet */
@media (min-width: 1000px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ---kártyák--- */
.card {
    background: white;
    border: 1px solid #E6E6EF;
    border-radius: 0.75rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 200ms ease, filter 200ms ease;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card .content {
    padding: 0.75rem;
}

.card h3 {
    font-size: 1rem;
}

/* ---hover effect--- */
.grid:hover .card:not(:hover) {
    filter: blur(1px)
}

.grid .card:hover {
    transform: scale(1.1);
}