* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

 body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(40, 88, 175), rgb(13, 111, 150));
    color: #111111;
 }

 main {
    margin: 1.5rem auto;
    /*border: 1px solid purple;*/
    width: min(1200px, calc(100% - 1.5rem));
 }

 h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
 }

 /* mobilos nézet */
 .grid {
    display: grid;
    gap: 0.75rem;
    grid-template-columns: 1fr;
    grid-auto-rows: 120px;
 }

 /* tablet nézet */
 @media (min-width: 700px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 140px);
        grid-template-areas: 
        "a b"
        "a c"
        "d d"
        "d d"
        "e e"
        "f g"
        "h i"
        "j j"
        "k l"
        "k l";
    }
    .card:nth-child(1) {
        grid-area: a;
    }
    .card:nth-child(2) {
        grid-area: b;
    }
    
     .card:nth-child(3) {
        grid-area: c;
    }

     .card:nth-child(4) {
        grid-area: d;
    }

     .card:nth-child(5) {
        grid-area: e;
    }

     .card:nth-child(6) {
        grid-area: f;
    }

     .card:nth-child(7) {
        grid-area: g;
    }

     .card:nth-child(8) {
        grid-area: h;
    }
     .card:nth-child(9) {
        grid-area: i;
    }
     .card:nth-child(10) {
        grid-area: j;
    }
     .card:nth-child(11) {
        grid-area: k;
    }
     .card:nth-child(12) {
        grid-area: l;
    }
 }

 /* asztali nézet */
 @media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: repeat(4, 140px);
        grid-template-areas: 
        "a b c d"
        "a e f d"
        "g e h h"
        "i j k l";
    }

    .card:nth-child(1) {
        grid-area: a;
    }
    .card:nth-child(2) {
        grid-area: b;
    }
    
     .card:nth-child(3) {
        grid-area: c;
    }

     .card:nth-child(4) {
        grid-area: d;
    }

     .card:nth-child(5) {
        grid-area: e;
    }

     .card:nth-child(6) {
        grid-area: f;
    }

     .card:nth-child(7) {
        grid-area: g;
    }

     .card:nth-child(8) {
        grid-area: h;
    }
     .card:nth-child(9) {
        grid-area: i;
    }
     .card:nth-child(10) {
        grid-area: j;
    }
     .card:nth-child(11) {
        grid-area: k;
    }
     .card:nth-child(12) {
        grid-area: l;
    }
 }

 .card {
    border-radius: 1.25rem;
    background: #d9d9d9d9;
    border: 3px solid rgb(255, 255, 255, 80%);
    box-shadow: 0 4px 12px rgb(0,0,0 8%);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    overflow: hidden;
 }

 .card:hover {
    transform: translate(1.01);
 }

 .card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
 }

