* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C203A;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 75%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container {
    margin-bottom: 1rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.message-box,
.custom-button {
    color: #FFF;
    width: 100%;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    font-size: 1.25rem;
    border-radius: 0.25rem;
    border: none;
}

.message-box {
    background-color: #23AF6B;

}

.custom-button {
    background-color: #28A745;
    cursor: pointer;
}

.custom-button:hover {
    filter: grayscale(20%);
}