* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, #0b1020, #111827);
    color: #f3f4f6;
    padding: 2rem;
}

.container {
    max-width: 1100px;
    /*border: 1px solid white;*/
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
        "head head head"
        "side content content"
        "foot foot foot";
    grid-template-columns: 1fr 2fr 2fr;
    gap: 1rem;
}

header, aside, article, footer {
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0.5rem 2.5rem rgb(0, 0, 0 35%);
}

header {
    grid-area: head;
    background: linear-gradient(90deg, #2563eb, #7c3aed);
    border: 1px solid rgb(255, 255, 255, 8%);
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

header p {
    color: #DBEAFE;
}

aside {
    grid-area: side;
    background: #161b2e;
    border: 1px solid rgb(255, 255, 255, 8%);
}
aside h2, aside h3 {
    color: #60a5fa;
    margin-bottom: 0.5rem;
}

aside ul {
    list-style: none;
    margin-bottom: 1.5rem;
}

aside ul li {
    margin-bottom: 0.75rem;
}

aside ul li a {
    display: block;
    text-decoration: none;
    color: #e5e7eb;
    background: #20263d;
    padding: 0.7rem 0.75rem;
    border-radius: 0.75rem;
    transition: 0.2s ease;
}

aside ul li a:hover {
    transform: scale(1.05);
}

.side-box {
    background: #20263d;
    border-radius: 0.75rem;
    padding: 0.75rem;
    line-height: 1.6;
}

article {
    grid-area: content;
    background: #161b2e;
    border: 1px solid rgb(255, 255, 255, 8%);
    display: grid;
    gap: 1rem;
}

section {
    background: linear-gradient(180deg, #1e293b, #172033);
    padding: 1rem;
    border-radius: 0.75rem;
    border: 1px solid rgb(255, 255, 255, 8%);
}

section h2 {
    color: #F8FaFC;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

section p {
    color: #cbd5e1;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.tag {
    display: inline-block;
    background: #2563eb;
    color: white;
    padding: 0.4rem 0.7rem;
    border-radius: 999px;
    margin: 0 0.3rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.tag:hover {
    transform: scale(1.1);
}

footer {
    grid-area: foot;
    background: #090d18;
    color: #93a388;
    border: 1px solid rgb(255, 255, 255, 8%);
    text-align: center;
    color: #DBEAFE;
}

@media (max-width:768px) {
    .container {
        grid-template-areas: 
            "head"
            "side"
            "content"
            "foot";
        grid-template-columns: 1fr;
    }
}